:root {
    color: var(--primary-color, #4a0368);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='900' height='1080' preserveAspectRatio='none' viewBox='0 0 900 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1102%26quot%3b)' fill='none'%3e%3crect width='900' height='1080' x='0' y='0' fill='rgba(17%2c 5%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M816.15 446.88a73.91 73.91 0 1 0 129.8-70.72z' fill='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M97.83 635.06a57.87 57.87 0 1 0-100.07 58.15z' fill='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M368.77 344.36a1.17 1.17 0 1 0-1.01 2.11z' fill='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M180.89 1047.42L246.82 1047.42L246.82 1113.35L180.89 1113.35z' stroke='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M761.29 1004.17a59.2 59.2 0 1 0-68.24 96.76z' fill='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M17.95 268.01L47.64 268.01L47.64 297.7L17.95 297.7z' fill='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M703.9 874.8L727.38 874.8L727.38 936.68L703.9 936.68z' fill='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M326.21 951.32a86.86 86.86 0 1 0 43.5-168.18z' fill='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M393.64 154.39 a12.11 12.11 0 1 0 24.22 0 a12.11 12.11 0 1 0 -24.22 0z' fill='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M354.76 20.96 a27.32 27.32 0 1 0 54.64 0 a27.32 27.32 0 1 0 -54.64 0z' fill='rgba(253%2c 50%2c 0%2c 0.25)'%3e%3c/path%3e%3cpath d='M537.13 162.86L600.1 162.86L600.1 225.83L537.13 225.83z' fill='rgba(194%2c 0%2c 255%2c 0.32)'%3e%3c/path%3e%3cpath d='M172.18 261.97a21.26 21.26 0 1 0 28-31.99z' stroke='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M559.09 566.84 a75.73 75.73 0 1 0 151.46 0 a75.73 75.73 0 1 0 -151.46 0z' stroke='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3cpath d='M31.83 106.61L65.11 106.61L65.11 139.89L31.83 139.89z' stroke='rgba(253%2c 50%2c 0%2c 0.25)'%3e%3c/path%3e%3cpath d='M295.81 257.17L306.03 257.17L306.03 292.24L295.81 292.24z' fill='rgba(242%2c 0%2c 211%2c 0.49)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1102'%3e%3crect width='900' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

header {
    display: flex;
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    height: 80px;
    padding: 40px 40px 0px 40px;
}

header > span {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 22px;
}

main {
    display: grid;
    width: 100%;
    height: 85vh;
    max-width: 1430px;
    margin: 0 auto;
    padding: 40px;
}



.main--img-container {
    width: 100%;
    min-height: 250px;
}

.main--img-container lottie-player {
    width: 100%;
}



.main--info-container {
    width: 100%;
    text-align: center;
   
}


.main--info-container h1 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
}

.main--info-container p {
    margin-top: 15px;
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: white;
}

.main--info-container button {
    width: 80%;
    max-width: 250px;
    height: 50px;
    margin-top: 25px;
    font-size: 1.4rem;
    color: var(--primary-color);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.63);
    cursor: pointer;
}

.info--icon-container {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 20px auto;
}

.info--icon-container .redes {
    color: white;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    font-size: 2.8rem;
    padding-bottom: 10px;
}